[Desktop Entry]
Name=Klene
Comment=Safe cleanup utility for Arch Linux
Exec=klene gui
Icon=klene
Terminal=false
Type=Application
Categories=System;Utility;
